<html>
    <head>
        <title>
            <%= title  %>
            
        </title>
        <link rel="icon" type="image/png" href="/images/Habit.png"/>
        <link rel="stylesheet" href="/css/layout.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>
        
        <%- script %>
    </body>
</html>